<ion-header>
  <ion-navbar>
    <ion-title>
      Learn
    </ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="addItem()">
        <ion-icon name="home"></ion-icon>
      </button>
      <button ion-button icon-only (click)="addItem()">
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-item-sliding *ngFor="let classApp of classApps">
      <button ion-item (click)="openItem(classApp)">
        <ion-avatar item-left>
          <img [src]="classApp.image" />
        </ion-avatar>
        <h2>{{classApp.name}}</h2>
        <p>{{classApp.description}}</p>
        <ion-note item-right *ngIf="classApp.note">{{classApp.note}}</ion-note>
      </button>

      <ion-item-options>
        <button ion-button color="danger" (click)="deleteItem(classApp)">
          {{ 'DELETE_BUTTON' }} <!-- | translate }} -->
        </button>
      </ion-item-options>
    </ion-item-sliding>



  </ion-list>
</ion-content>
