.header {
    align-items: center;
    text-align: center;
    background-color: #8F3534; /*8f3534, 994746, a35958*/
   /*height: 100%;*/
    margin-bottom: 2em;
}

.header-title {
    font-family: Pacifico;
    color: white;
    text-shadow: 2px 2px 8px #110000;
    font-size: 10em;/* 0.5em 1em;*/
}

.header-text {
    text-align: center;
    font-family: 'Open Sans',sans, arial;
    color: white;
    font-size: 2.5em;
    padding: 0.5em;
    margin-bottom: 1em;
}